name: Flutter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-ios:
    name: Build iOS
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.1
    - name: Setup Java JDK
      uses: actions/setup-java@v1.3.0
      with:
        java-version: '12.x'
    - name: Flutter action
      uses: subosito/flutter-action@v1.3.2
    - run: flutter build ios --release --no-codesign
    - run: mkdir Payload
    - run: mv build/ios/iphoneos/Runner.app Payload
    - run: zip -r Runner.ipa Payload
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ipa
        path: Runner.ipa

  build-apk:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.1
    - name: Setup Java JDK
      uses: actions/setup-java@v1.3.0
      with:
        java-version: '12.x'
    - name: Flutter action
      uses: subosito/flutter-action@v1.3.2
    - run: flutter build apk
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: app
        path: build/app/outputs/apk/release/app-release.apk
